<div class="contenedor texto">
    <h3 class="titulo">POLÍTICA DE TRATAMIENTO DE DATOS PERSONALES
        GLOBAL S.A.S.</h3>
    <p>La empresa ASESORIAS CONTABLES E INMOBILIARIAS - GLOBAL S.A.S, identificada con Nit:
        900.683.558-2 y con domicilio en la ciudad de Bogotá, D. C., dispone la Política de Tratamiento y
        Protección de Datos Personales, de conformidad con lo establecido en los artículos 15 y 20 de la
        Constitución Política, la Ley 1266 de 2008 y sus decretos reglamentarios, la Ley 1581 de 2012 y su
        Decreto Reglamentario 1377 de 2013.
    </p>
    <p class="subtitulo"> OBJETIVO:</p>
    <p>
        Establecer los criterios bajo los cuales, la empresa GLOBAL S.A.S. realiza el tratamiento de los datos
        personales de terceros que sean recolectados a través de los diferentes canales y que reposen en
        los archivos físicos y digitales de la empresa.
    </p>
    <p class="subtitulo">FINALIDAD: </p>
    <p>Los datos personales de terceros obtenidos por GLOBAL S.A.S. son recolectado para los siguientes
        fines:</p>
    <p>* Gestión de estadísticas internas, atención al ciudadano, usuario y/o cliente.</p>
    <p>* Fidelización de los clientes de la empresa GLOBAL SAS</p>
    <p>* Gestión de Facturación, Gestión Contable, Gestión de proveedores y contratistas, Gestión
        económica y contable, Histórico de relaciones comerciales, Requerimientos por organismos
        de control.</p>
    <p>* Mejorar la atención, innovar y perfeccionar los productos y servicios ofrecidos, y dar a
        conocer noticias de interés y novedades.</p>
    <p>* Mejorar la comunicación con los clientes. </p>
    <p>* En general, fines estadísticos, comerciales, informáticos, de seguimiento a los servicios
        prestados en GLOBAL SAS, de mercadeo, de notificación y contacto al usuario para las
        campañas de seguridad y/o satisfacción y/o similares, aspectos contables y de nómina, para
        ejecutar la relaciones contractuales y demás aplicables a cada uno de los titulares, así como
        los usos específicos indicados en la autorización otorgada por el titular del dato, según sea
        el caso y frente a lo cual serán aplicables todos los principios rectores para el tratamiento
        de los datos personales. Si un dato personal es proporcionado, dicha información será
        utilizada sólo para los fines señalados previamente, y por tanto GLOBAL SAS, no procederá
        a vender, licenciar, transmitir, o divulgar la misma en ámbitos diferentes, salvo que exista
        autorización expresa para hacerlo.
    </p>
    <p class="subtitulo">DEFINICIONES </p>
    <p>Para efectos de la aplicación de los lineamientos contenidos en la presente Política y de acuerdo
        con lo establecido en la normatividad vigente sobre la materia, artículo 3 de la Ley 1266 de 2008,
        artículo 3 de la Ley 1581 de 2012 y el artículo 2 del Decreto 1377 de 2013, se denotan las
        siguientes definiciones:
        Autorización: Consentimiento previo, expreso e informado del Titular para llevar a cabo el
        Tratamiento de sus datos personales a cargo de un tercero, en este caso, Global SAS.
        Aviso de privacidad: Comunicación verbal o escrita generada por el Responsable, dirigida al
        Titular para el Tratamiento de sus datos personales, mediante la cual se le informa acerca de la
        existencia de las políticas de Tratamiento de información que le serán aplicables, la forma de
        acceder a las mismas y las finalidades del Tratamiento que se pretende dar a los datos
        personales.
        Base de Datos: Conjunto organizado de datos personales que sea objeto de Tratamiento.
        Dato personal: Cualquier información vinculada o que pueda asociarse a una o varias personas
        naturales determinadas o determinables.
        Dato privado: Es el dato que por su naturaleza íntima o reservada sólo es relevante para el
        titular.
        Dato público: Es el dato que no sea semiprivado, privado o sensible. Son considerados datos
        públicos, entre otros, los datos relativos al estado civil de las personas, a su profesión u oficio y
        a su calidad de comerciante (cámara de comercio) o de servidor público. Por su naturaleza, los
        datos públicos pueden estar contenidos, entre otros, en registros públicos, documentos
        públicos, gacetas y boletines oficiales y sentencias judiciales debidamente ejecutoriadas que no
        estén sometidas a reserva. Estos datos pueden ser obtenidos y ofrecidos sin reserva alguna y
        sin importar si hacen alusión a información general, privada o personal.
        Dato semiprivado: Es semiprivado el dato que no tiene naturaleza íntima, reservada, ni pública
        y cuyo conocimiento o divulgación puede interesar no sólo a su titular sino a cierto sector o
        grupo de personas o a la sociedad en general, como el dato financiero y crediticio de actividad
        comercial o de servicios a que se refiere el Título IV de la Ley 1266 de 2008.
        Datos sensibles: Se entiende por datos sensibles aquellos que afectan la intimidad del Titular o
        cuyo uso indebido puede generar su discriminación, tales como aquellos que revelen el origen
        racial o étnico, la orientación política, las convicciones religiosas o filosóficas, la pertenencia a
        sindicatos, organizaciones sociales, de derechos humanos o que promueva intereses de
        cualquier partido político o que garanticen los derechos y garantías de partidos políticos de
        oposición, así como los datos relativos a la salud, a la vida sexual, y los datos biométricos.
        Encargado del Tratamiento: Persona natural o jurídica, pública o privada, que por sí misma o en
        asocio con otros, realice el Tratamiento de datos personales por cuenta del Responsable del
        Tratamiento.
        Responsable del Tratamiento: Persona natural o jurídica, pública o privada, que por sí misma o
        en asocio con otros, decida sobre la base de datos y/o el Tratamiento de los datos. Titular:
        Persona natural cuyos datos personales sean objeto de Tratamiento.
        Tratamiento: Cualquier operación o conjunto de operaciones sobre datos personales, tales
        como la recolección, almacenamiento, uso, circulación o supresión.
        Transferencia: La transferencia de datos tiene lugar cuando el Responsable y/o Encargado del
        tratamiento de datos personales, ubicado en Colombia, envía la información o los datos
        personales a un receptor, que a su vez es Responsable del Tratamiento y se encuentra dentro o
        fuera del país.</p>
    <p class="subtitulo">PRINCIPIOS</p>
    <p>De conformidad con lo establecido en el artículo 4 de la Ley 1581 de 2012, las actuaciones de
        GLOBAL SAS relacionadas con el tratamiento de datos personales se regirán por los principios de
        legalidad en materia de tratamiento de datos, finalidad, libertad, veracidad o calidad, transparencia,
        de acceso y circulación restringida, seguridad y de confidencialidad. </p>
    <p class="subtitulo">AUTORIZACIÓN</p>
    <p>Cualquier operación sobre datos personales, esto es para la recolección, almacenamiento, uso,
        circulación o supresión, requiere la autorización previa e informada del Titular, la cual deberá ser
        obtenida por cualquier medio que pueda ser objeto de consulta posterior.
    </p>
    <p class="subtitulo">POLÍTICA DE TRATAMIENTO DE DATOS PERSONALES
        RECOLECCIÓN DE LOS DATOS</p>
    <p>El tratamiento de la información personal que realiza GLOBAL SAS se obtiene a través de diferentes
        actividades relacionadas con su objeto social, y las obligaciones que tiene como empleador. La
        información se solicita de manera directa al titular y en algunas ocasiones es obtenida por parte de
        terceros, previa autorización del titular. Los instrumentos que utiliza GLOBAL SAS para recolección
        de la información, cuentan con todos los requisitos establecidos en la normatividad en materia de
        protección de datos personales, y obedecen a los principios de libertad y finalidad, por lo que, en
        cada uno de ellos, se encuentra incorporada la autorización para el tratamiento de los datos
        personales. Estos instrumentos son:
    </p>
    <p>Formulario de registro de usuarios WEB
    </p>
    <p>Registro de datos en oficina y punto de atención.
    </p>
    <p>Registro de datos a través del correo electrónico.
    </p>
    <p>Registro de datos a través de redes sociales.
    </p>
    <p>Registro de datos vía telefónica.
    </p>
    <p class="subtitulo">ALMACENAMIENTO DE LOS DATOS RECOLECTADOS:
    </p>
    <p>El almacenamiento de la información personal contenida en el formulario de registro del portal
        WEB, se encuentra en los servidores de GLOBAL SAS (propios y tercerizados) y cuenta con todas las
        medidas de seguridad física, técnicas y administrativas y, además, cuentan con controles de acceso
        garantizando el principio de acceso y circulación restringida.
    </p>
    <p class="subtitulo">USO DE LOS DATOS RECOLECTADOS:
    </p>
    <p>entre los usos que GLOBAL SAS le da a los datos personales recolectados, se encuentran: Gestión
        de estadísticas internas, atención al ciudadano, usuario y/o cliente, (Gestión PQRSD) Fidelización de
        clientes, envío de comunicaciones, Procedimientos administrativos, Administración de Sistemas de
        información, gestión de claves, administración de usuarios, Desarrollo operativo, Gestión de
        Facturación, Gestión Contable, Gestión de proveedores y contratistas, Gestión económica y
        contable, Histórico de relaciones comerciales, Requerimientos por organismos de control,
        Formación de personal, gestión de personal, gestión de trabajo temporal, prestaciones sociales,
        prevención de riesgos laborales, promoción y selección de personal, programas de bienestar y
        calidad de vida en el trabajo E. Adecuada comunicación con los destinatarios, fidelización
        (acreditación y redención de puntos), perfilamiento (conocimiento de sus gustos, hábitos de
        consumo y saldos), análisis de características demográficas, y mercadeo, Mejorar la atención, crear
        promociones, innovar y perfeccionar los productos y servicios ofrecidos, y dar a conocer noticias de
        interés y novedades, Gestionar tareas básicas de administración; informar por cualquiera de los
        medios proporcionados al momento del suministro de la información, las promociones, novedades,
        productos y servicios actuales y futuros relacionados con eventos, concursos, actividades, entrega
        de premios, beneficios y productos adquiridos; responder a solicitudes específicas de los clientes
        finales y otras finalidades comerciales directa o indirectamente relacionadas con la actividad propia
        de GLOBAL SAS, promociones, novedades, productos y servicios promovidos directamente por los
        aliados estratégicos.
    </p>
    <p class="subtitulo">CIRCULACIÓN</p>
    <p>GLOBAL SAS no comparte y/o transmite los datos personales que recolecta con terceros, e
        internamente ha dispuesto controles de acceso para el ingreso de sus empleados a los sistemas de
        información de la empresa, exclusivamente a la información que de acuerdo con el rol y/o cargo
        debe conocer el empleado. </p>
    <p class="subtitulo">SUPRESIÓN</p>
    <p>La supresión de la información personal, se realiza una vez ha cumplido la finalidad para la cual se
        solicitaron los datos, o en los casos en los cuales el titular de la información solicite la eliminación
        de la información, este caso procederá, siempre y cuando la ley lo autorice. 2.4 Autorización para el
        tratamiento de datos personales GLOBAL SAS solicita de manera libre, previa, expresa y
        debidamente informada, la autorización por parte de los titulares de los datos y para ello ha
        dispuesto mecanismos idóneos garantizando para cada caso que sea posible verificar el
        otorgamiento de dicha autorización. La misma, podrá constar en cualquier medio, bien sea un
        documento físico, electrónico o en cualquier formato que garantice su posterior consulta a través
        de herramientas técnicas, cumpliendo con los requisitos establecidos en la ley.</p>
    <p class="subtitulo">DERECHOS COMO TITULAR DEL DATO.
    </p>
    <p>El Derecho Fundamental de Hábeas Data, faculta al titular del dato solicitar el acceso, actualización,
        rectificación y supresión de sus datos personales que se encuentra en posesión de un tercero, a su
        vez, puede revocar la autorización que ha otorgado para el tratamiento. Si un titular, considera que
        GLOBAL SAS tiene acceso a sus datos personales, esta persona puede en todo momento solicitar la
        consulta de sus datos, o si considera que GLOBAL SAS está haciendo mal uso de sus datos, puede
        realizar la respectiva reclamación. El titular está facultado para solicitar: A. Actualización de sus
        datos personales en caso de encontrarse fraccionados, incompletos, entre otros. B. Rectificación
        y/o corrección de sus datos personales en caso de que se encuentren errados, parciales o induzcan
        a error. C. Supresión de sus datos personales de las bases de datos. Se seguirá conservando la
        información para los fines determinados por la ley. D. Revocación de la autorización del tratamiento
        de sus datos personales, siempre y cuando no genere incumplimiento por parte de GLOBAL SAS con
        otras obligaciones legales, relativas a la permanencia del dato.
    </p>
    <p class="subtitulo">MECANISMOS PARA QUE EL TITULAR DE LA INFORMACIÓN PUEDA EJERCER SUS DERECHOS</p>
    <p>Consulta: A través del mecanismo de la consulta, el titular del dato, podrá solicitar a GLOBAL SAS,
        acceso a su información personal que reposa en las bases de datos. La consulta será atendida en un
        término máximo de diez (10) días hábiles contados a partir de la fecha de recibo de la misma. En
        caso de no ser posible dar respuesta a la consulta dentro del término referenciado, se le informará,
        los motivos de la demora y se le dará respuesta, máximo cinco (5) días hábiles siguientes al
        vencimiento del primer término.
    </p>
    <p>Reclamo: A través del mecanismo de reclamo, el titular del dato, podrá reclamar a GLOBAL SAS ,
        alguna inconformidad que tenga sobre el uso que se le está dando a sus datos. El reclamo será
        atendido en un término máximo de (15) quince días hábiles contados a partir del día siguiente a la
        fecha de su radicado. En caso de no ser posible atender el reclamo dentro de dicho término se le
        informará, los motivos de la demora y se le dará respuesta, máximo (8) ocho días hábiles siguientes
        al vencimiento del primer término.</p>


</div>