<section class="contenedor Grid-Nosotros">
    <div class="nosotros">
        <h3>Sobre Nosotros</h3>
        <p>Somos una empresa dedicada a la prestación de servicios de asesorías contables tributarias y financieras,
            llevamos más de 15 años en el mercado mejorando cada vez más para optar por las mejores prácticas y
            garantizar una excelente experiencia para nuestros clientes.</p>
    </div>
</section>

<section class="contenedor Grid-Mision">
    <div class="Mision">
        <h3>Misión</h3>
        <p>Como organización nuestra MISION es trascender en el servicio de solicitudes integrales y personalizadas de
            asesorías y consultoría en el campo administrativo, contable, tributario y laborar, que guie a nuestros
            clientes a la mejor solución y con los mejores resultados.</p>
    </div>
</section>

<section class="contenedor Grid-Vision">
    <div class="Vision">
        <h3>Visión</h3>
        <p>Nuestra VISION es ser un líder en la atención personalizada en los servicios contables, tributarios y
            financieros por medio de los avances tecnológicos para formar parte de las empresas líderes en calidad y
            eficiencia.</p>
    </div>
</section>