<section class="contenedor titulo">
    <h2>Galería</h2>
    <div class="Grid desvordamiento">
        <img src="assets/images/declaraciondereta.jpg" alt="">
        <img src="assets/images/impuestos.jpg" alt="">
        <img src="assets/images/facturacion-electronica.jpg" alt="">
        <img src="assets/images/tributarios.jpg" alt="">
        <img src="assets/images/pp.jpg" alt="">
        <img src="assets/images/rut.jpg" alt="">
        <img src="assets/images/camaraComercio.jpg" alt="">
        <img src="assets/images/consultoria.jpg" alt="">
        <img src="assets/images/CreacionEmpresa.jpg" alt="">
    </div>
</section>