<section class="contenedor Grid-Nosotros">
    <div class="nosotros">
        <h3>Facturación Electrónica</h3>
        <p>Nosotros manejamos todo tipo de documentos que permiten hacer cambios, ajustes y/o correcciones a las
            facturas electrónicas. También los generamos y trasmitimos a la DIAN de forma electrónica para su respectiva
            validación y garantizarle al cliente un servicio de calidad.</p>
    </div>
</section>

<section class="contenedor Grid-Mision">
    <div class="Mision">
        <h3>Organización de información contable</h3>
        <p>Nosotros nos encargamos de agrupar, ordenar y registrar todas las transacciones que realiza la organización
            de nuestro cliente. Una vez que esta lista la información se preparan los estados financieros básicos, que
            son la esencia del sistema.</p>
    </div>
</section>

<section class="contenedor Grid-Vision">
    <div class="Vision">
        <h3>Creación de empresas</h3>
        <p>Nosotros nos encargamos de la elaboración y asesoría de actas, estatutos y formularios de inscripción de
            cámara y comercio para que nuestro cliente pueda legalizar y establecer su empresa dentro del mercado.</p>
    </div>
</section>


<section class="contenedor Grid-camara">
    <div class="camara">
        <h3>Procesos ante cámara y comercio</h3>
        <p>Nosotros manejamos todo tipo de renovaciones, actualizaciones y certificaciones solicitadas por el cliente
            para su asesoría y consultoría garantizando un trabajo de calidad.</p>
    </div>
</section>


<section class="contenedor Grid-paquetes">
    <div class="paquetes">
        <h3>Paquetes en establecimientos</h3>
        <p>Nosotros manejamos todo tipo de solicitud para conceptos de sayco (derechos de autor musical), sanidad (vista
            y aprobación de manejo sanitario del negocio) suelos (permiso para poder tener el establecimiento), bomberos
            (manejos de incendios) y carta a la policía (solicitud de apoyo al establecimiento).</p>
    </div>