<div class="contenedor-navegacion-principal">
    <img src="assets/images/logo.jpg" alt="">
    <div>
        <nav class="enlaces__navegacion-principal">
            <a routerLink="">Inicio</a>
            <a routerLink="nosotros">Nosotros</a>
            <a routerLink="servicios">Servicios</a>
            <a routerLink="Información">Información</a>
            <a routerLink="contacto">Contacto</a>
            <a routerLink="admin">Administrador</a>
        </nav>
    </div>
    <div class="contacto_navegacion-principal">
        <a href="https://api.whatsapp.com/send/?phone=573102326226&text&type=phone_number&app_absent=0" target="_blank">
            <img src="assets/images/whatsapp.png" alt="">
        </a>
    </div>
</div>