<div class="contenedor titulo">
    <h2>Temas De Interés</h2>
    <div class="contenedor-grid">
        <div class="servicios servicio1">
            <div class="desvordamiento">
                <img src="assets/images/declaraciondereta.avif" alt="">
            </div>
            <div class="descripcion">
                <h3>Declaración de renta persona jurídica.</h3>
                <p>Es la declaración de impuestos que cualquier empresa debe presentar anualmente.</p>

                <div class="enlace">
                    <a routerLink="TemaInformativo1">Revisar tema</a>
                </div>
            </div>
        </div>
        <div class="servicios">
            <div class="desvordamiento">
                <img src="assets/images/female-financial-adviser-explaining-business-plan.avif" alt="">
            </div>
            <div class="descripcion">
                <h3>Declaración de renta persona natural.</h3>
                <p>Es la declaración de impuestos que cualquier persona debe pagarle al estado dependiendo los ingresos
                    y/o ganancias del año anterior. </p>
                <div class="enlace">
                    <a routerLink="TemaInformativo2">Revisar tema</a>
                </div>
            </div>
        </div>
        <div class="servicios">
            <div class="desvordamiento">
                <img src="assets/images/comntabilidaddelaempresa.avif" alt="">
            </div>
            <div class="descripcion">
                <h3>Impuestos</h3>
                <p>Datos importantes a presentar pues informan sobre su movimiento financiero anual .</p>
                <div class="enlace">
                    <a routerLink="TemaInformativo3">Revisar tema</a>
                </div>
            </div>
        </div>
    </div>
</div>