<section class="contenedor Grid-Nosotros">
    <div class="nosotros">
        <h3>Declaración de renta</h3>
        <p>
            Nosotros realismos la elaboración de reportes de rentas bajo los estándares de la Dian, también manejamos
            movimientos bancarios y certificados de libertad para persona natural.
        </p>
    </div>
</section>

<section class="contenedor Grid-Mision">
    <div class="Mision">
        <h3>Elaboración de exógenas</h3>
        <p>Nosotros realismos la elaboración de reportes de personas tanto naturales como jurídicas ante la Dian.</p>
    </div>
</section>

<section class="contenedor Grid-Vision">
    <div class="Vision">
        <h3>Impuestos</h3>
        <p>Nosotros asesoramos a nuestros clientes para su gestión del IVA en la Dian, retención de fuente, hipo consumo
            y también asesoramos en cuanto la secretaria de hacienda la retención del Ica.</p>
    </div>
</section>


<section class="contenedor Grid-camara">
    <div class="camara">
        <h3>Rut</h3>
        <p>Nosotros también nos encargamos de la creación y actualización de los documentos de nuestros clientes en la
            página de la Dian.</p>
    </div>
</section>