<section class="contenedor Grid-Nosotros">
    <div class="nosotros">
        <h3>Declaración de renta persona natural.</h3>
        <p>
            La de declaración de renta de persona natural, es decir sea empleados o independientes debe realizarse
            obligatoriamente, ya que es un decreto del estado el cual define que dependiendo de sus ganancias, salarios,
            comisiones y otros ingresos durante el año anterior deberá pagar cierto porcentaje, y las fechas para
            generar la declaración son del 09/08/2023 hasta el 19/10/2023. Cabe mencionar que en esta empresa los
            asesoraremos en su proceso de declaración de renta.
        </p>
    </div>
</section>