<section class="contenedor Grid-Nosotros">
    <div class="nosotros">
        <h3>Declaración de renta persona jurídica.</h3>
        <p>
            La declaración de renta de personas jurídicas es uno de los documentos más importantes que debe generar y
            presentar una empresa anualmente, pues esta recopila todas aquellas actividades económicas realizadas por la
            compañía. Dado lo anterior señor cliente, las fechas establecidas para gestionar dicha declaraciones son
            del 10/04/2023 hasta 21/06/2023, cabe recordar que en esta empresa podemos asesorarlo en dicha gestión.
        </p>
    </div>
</section>