<div class="titulo">
    <h2>Reporte de datos</h2>
    <form class="formulario centrar">
        <fieldset>
            <legend>
                Descargar
            </legend>
            <div class="escoger ">
                <div class="politicaDatos">
                    <label>Al darle click al enlace generará el reporte de la base de datos.</label>
                </div>
                <div class="politicaDatos">
                    <a (click)="descargarDatos()">Descargar datos</a>
                </div>
            </div>

        </fieldset>

    </form>
</div>