<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700;900&display=swap"
        rel="stylesheet">
    <title>Global S.A.S - index</title>
    
</head>

<body>


    <div class="desvordamiento">
        <div class="imagenes_principales contenedor-imagenes-principales">
            <div class="single-slide contenedor-imagenes-principales" id="slide-1">
                <h1>GLOBAL S.A.S</h1>
                <h2>Solucionamos tus problemas</h2>
                <div>
                    <span class="btn-1"><a routerLink="servicios">Servicios</a></span>
                    <span class="btn-2"><a routerLink="contacto">Contacto</a></span>
                </div>
            </div>
            <h1>GLOBAL S.A.S</h1>
            <h2>Solucionamos tus problemas</h2>
            <div>
                <span class="btn-1"><a routerLink="servicios">Servicios</a></span>
                <span class="btn-2"><a routerLink="contacto">Contacto</a></span>
            </div>
        </div>
    </div>

    <section class="contenedor contenedor-seccion-nosotros">
        <div class="desvordamiento">
            <img src="assets/images/pp.jpg" alt="">
        </div>
        <div class="contenedor-descripcion_nosotros">
            <h2>Bienvenido a Global S.A.S</h2>
            <span class="parrafo-nosotros">
                <p>Nosotros te garantizamos:</p>
            </span>

            <p><strong>*</strong>La mejor experiencia de usuario.</p>
            <p><strong>*</strong>Solución de tus problemas en tiempo récord.</p>
            <p><strong>*</strong>Calidad en nuestros servicios.</p>
            <p><strong>*</strong>Asesorías a cerca de tus inconvenientes.</p>

        </div>
    </section>



    <section class="contenedor-navegaciones contendor-otras-navegacions">
        <h2>Acerca de nosotros</h2>
        <div class="contendor-grid-otras-navegacions">
            <div class="desvordamiento">
                <a routerLink="Resena">
                    <img src="assets/images/crecer.jpg" alt="">
                    <h3>Reseña</h3>
                </a>
            </div>
            <div class="desvordamiento">
                <a routerLink="Galeria">
                    <img src="assets/images/galeria.jpg" alt="">
                    <h3>Galería de imágenes </h3>
                </a>
            </div>
            <div class="desvordamiento">
                <a routerLink="Anfitriona">
                    <img src="assets/images/jefa.jpg" alt="">
                    <h3>Anfitriona</h3>
                </a>
            </div>
        </div>

    </section>
    <section class="contenedor titulo-horario">
        <h2>Horario de atención</h2>
        <div class="contenedor-horario">
            <div class="horario">
                <div class="descripcion">
                    <fieldset>
                        <legend class="flex-titulos-horario">
                            <span>Dia</span>
                            <span>De</span>
                            <span>Hasta</span>
                        </legend>
                        <div class="contenedor-Descripcion-horario">
                            <p>Lunes</p>
                            <p>08:00</p>
                            <p>17:00</p>
                            <p>Martes</p>
                            <p>08:00</p>
                            <p>17:00</p>
                            <p>Miércoles</p>
                            <p>08:00</p>
                            <p>17:00</p>
                            <p>Jueves</p>
                            <p>08:00</p>
                            <p>17:00</p>
                            <p>Viernes</p>
                            <p>08:00</p>
                            <p>17:00</p>
                            <p>Sábado</p>
                            <p>08:00</p>
                            <p>14:00</p>
                            <p>Domingo</p>
                            <p class="cerrado">Cerrado</p>
                        </div>
                    </fieldset>

                </div>
            </div>
            <div class="imagenHorario desvordamiento">
                <img src="assets/images/Horario.jpg" alt="">
            </div>

        </div>



    </section>

    <main class="contenedor-hablemos-imagen contenedor-hablemos">
        <h2>¡Reserva tu cita ahora mismo!</h2>
        <a href="https://api.whatsapp.com/send/?phone=573102326226&text&type=phone_number&app_absent=0"
            target="_blank">¡ Hablemos !</a>
    </main>



</body>

</html>