<section class="contenedor Grid-Nosotros">
    <div class="nosotros">
        <h3>Contadora</h3>
        <p>

            Mi nombre es María lucia Forero, soy contadora pública con más de 15 años de experiencia en el ámbito
            comercial. A lo largo de estos años me he esforzado por dar lo mejor de mí para crear esta hermosa empresa y
            así poder brindar a nuestros clientes y usuarios la mejor de las atenciones y resolver sus problemas con la
            mayor eficacia y en el menor tiempo posible.

        </p>
    </div>
</section>