<section class="contenedor Grid-Nosotros">
    <div class="nosotros">
        <h3>Impuestos.</h3>
        <p>
            Es importante para evitar sanciones presentar las declaraciones de renta tanto jurídicas como naturales, ya
            que se debe informar la legalidad del movimiento financiero anual, las fechas para esta gestión van desde
            10/01/2023 hasta el 8/09/2023. Cabe mencionar que nosotros lo asesoraremos en todos y cada uno de estos
            procesos.
        </p>
    </div>
</section>