<footer class="contenedor-foter">
    <div class="espacio contenedor">
        <h3>Global S.A.S</h3>
        <p>Somos la solución a tus problemas, te garantizamos la mejor atención para darle fin a tus inconvenientes
            con los con los métodos más eficaces.</p>
    </div>
    <div class="espacio">
        <h3>Servicios</h3>
        <li><a routerLink="ServiciosConsultoria_Asesorias">Servicios de consultoría.</a> </li>
        <li><a routerLink="ServiciosTributarios">Servicios tributarios.</a> </li>
        <li><a routerLink="ServiciosFinancieros">Servicios financieros.</a> </li>

    </div>
    <div class="espacio">
        <h3>Contactanos</h3>
        <li><span>Dirección: Carrea 17 N 16-09 SUR.</span> </li>
        <li><span>Teléfono: 3102326226.</span> </li>
        <li><span>Correo: ccb789@hotmail.com</span></li>

    </div>
    <div class="espacio">
        <h3>De Interés</h3>
        <li><a routerLink="TemaInformativo1">Declaración de renta persona jurídica.</a> </li>
        <li><a routerLink="TemaInformativo2">Declaración de renta persona natural.</a> </li>
        <li><a routerLink="TemaInformativo3">Impuestos.</a></li>
    </div>

</footer>